@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-image: url(https://static.vecteezy.com/system/resources/previews/024/113/822/non_2x/abstract-retro-groovy-background-wavy-swirl-pattern-vintage-psychedelic-social-media-post-template-trippy-cover-design-square-poster-in-60s-70s-style-pastel-yellow-liquid-hippie-texture-vector.jpg);
  background-color: hsl(176, 22%, 74%) ;
  background-blend-mode:overlay;
  text-align: center;
  color: navy;
  margin: auto;
  font-family: water;
}

h1{
  font-size: 30px;
}

#myCanvas {
  background-image: url("https://flashbak.com/wp-content/uploads/2017/10/1978-bed-room-vintage.jpg");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid white;
}






